<a href="https://colab.research.google.com/github/Lee2008-cyber/python_assignment/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Assignment**

**Q1. L is a list defined as L=[11,12,13,14]**

1.    WAP to add 50 and 60 to L.

In [2]:
L = [11,12,13,14 ]
print ("Original List:", L)

L.append(50)
L.append(60)

print ("List After Adding:", L)

Original List: [11, 12, 13, 14]
List After Adding: [11, 12, 13, 14, 50, 60]


2.   WAP to remove 11 and 13 from L.

In [6]:
  L=[11,12,13,14,50,60]

  print("Original List:",L)

  del L[0]
  del L[1]

  print("List After Deleting:",L)

Original List: [11, 12, 13, 14, 50, 60]
List After Deleting: [12, 14, 50, 60]

3.   WAP to sort L in ascending order.

In [11]:
  L=[60,11,13,50,12,14]

  print("Original List:",L)
  L.sort()
  print("List In Ascending Order:",L)

Original List: [60, 11, 13, 50, 12, 14]
List In Ascending Order: [11, 12, 13, 14, 50, 60]

4.   WAP to sort L in descending order.

In [12]:
  L=[60,11,13,50,12,14]

  print("Original List:",L)
  L.sort(reverse=True)
  print("List In Descending Order:",L)

Original List: [60, 11, 13, 50, 12, 14]
List In Descending Order: [60, 50, 14, 13, 12, 11]

5.   WAP to search for 13 in L.

In [37]:
    L=[60,11,13,50,12,14]

    n=int(input("Enter The Number to search:"))
    if n in L:
      print("Number Found:")
    else:
      print("Number Not Found:")

Enter The Number to search:5
Number Not Found:



6.  WAP count Number of elements present in L.

In [16]:
    L=[60,11,13,50,12,14]
    print ("Original List:",L)
    print ("Number of elements in list: ", len(L))

Original List:  [60, 11, 13, 50, 12, 14]
Number of elements in list:  6



7. WAP to sum all elements in L.

In [17]:
    L=[60,11,13,50,12,14]
    print ("Original List:",L)
    print ("Sum of all Elements:",sum(L))

Original List: [60, 11, 13, 50, 12, 14]
Sum of all Elements: 160



8. WAP to sum all odd number in L.

In [45]:
    L=[60,11,13,50,12,14]
    def Odd_Number(L):
      for i in L:
        if i%2!=0:
          print(i)
          return 0
        else:
          return 2


    print("Odd Numbers In List:",Odd_Number(L))
    odd_sum=0
    for i in L:
       if i%2!=0:
          odd_sum+=i
    print("sum of all odd numbers ",odd_sum)

Odd Numbers In List: 2
sum of all odd numbers  24



9.   WAP to sum all Even Numbers in L.

In [30]:
    L=[60,11,13,50,12,14]
    def Even_Number(L):
      for i in L:
        if i%2==0:
          print(i)
    print("Even Numbers In List:",Even_Number(L))
    Even_sum=0
    for i in L:
       if i%2==0:
          Even_sum+=i
    print("sum of all Even numbers ",Even_sum)

60
50
12
14
Even Numbers In List: None
sum of all Even numbers  136



10. WAP to sum all Prime Number in L.

In [31]:
    L=[60,11,13,50,12,14]
    def Prime_Number(L):
      for i in L:
        if i%2!=0:
          print(i)
    print("Prime Numbers In List:",Prime_Number(L))
    Prime_sum=0
    for i in L:
       if i%2!=0:
          Prime_sum+=i
    print("sum of all Prime numbers ",Prime_sum)

11
13
Prime Numbers In List: None
sum of all Prime numbers  24



11.  WAP to clear all elements in L.

In [33]:
      L=[60,11,13,50,12,14]
      print ("Original List:",L)
      L.clear()
      print ("List After Delete:",L)

Original List: [60, 11, 13, 50, 12, 14]
List After Delete: []



12.   WAP to delete L.

In [34]:
      L=[60,11,13,50,12,14]
      print ("Original List:",L)
      del L
      print ("List After Delete:",L)

Original List: [60, 11, 13, 50, 12, 14]

NameError: name 'L' is not defined

**Q2 D is dictionary defined as D = {1:5.6, 2:7.**